@page "/forgotPassword"

@inherits Login
@using AYMDating.API.DTO
@using AYMDating.Blazor.Data.Helpers
@using AYMDating.DAL.Entities
@using System.Net.Http.Headers
@using System.ComponentModel.DataAnnotations
@inject NavigationManager Navigation
@inject ApiServiceLogin _apiServiceLogin

<PageTitle>Forgot Password</PageTitle>
@* <div class="aym-paragraph">
 *@@* <h3>Forgot Password</h3>
 *@
<div class="container d-flex flex-column align-items-center justify-content-center">
    <EditForm Model="activationModel" OnValidSubmit="HandleActivation">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="text-center mb-1">
            <label for="Email">Email:</label>
                <InputText id="Email" @bind-Value="activationModel.Email" type="email" />
        </div>
        <div class="text-center mb-1">
            <button class="btn btn-outline-dark" type="submit">Send Reset Password To Email</button>
        </div>
    </EditForm>
    @if (_isHuman)
    {
        <p>Thank you for verifying!</p>
    }
    else
    {
        <div class="mt-1 mb-1 d-flex flex-column border border-black rounded justify-content-between align-items-center">
            <p>Solve the following problem to prove you're not a robot:</p>
            <p>@_num1 + @_num2 = ?</p>
                <input @bind="_userAnswer" placeholder="Your Answer" class="mb-1" type="text" />
            <button class="btn btn-outline-dark" @onclick="VerifyCaptcha">Verify</button>
        </div>
    }
</div>
@* </div>
 *@
 @code {
    private ForgotPasswordDTO activationModel = new ForgotPasswordDTO() { Password = "Test@11234", ConfirmPassword = "Test@11234" };

    private int _num1;
    private int _num2;
    private string _userAnswer;
    private bool _isHuman;

    protected override void OnInitialized()
    {
        GenerateCaptcha();
    }

    private void GenerateCaptcha()
    {
        var random = new Random();
        _num1 = random.Next(1, 10);
        _num2 = random.Next(1, 10);
    }

    private void VerifyCaptcha()
    {
        int correctAnswer = _num1 + _num2;
        _isHuman = _userAnswer == correctAnswer.ToString();
    }


    private async Task HandleActivation()
    {
        try
        {
            if (_isHuman)
            {
                ForgotPasswordDTO CreatedUser = await _apiServiceLogin.ForgetPasswordForUser(activationModel.Email);
                if (CreatedUser.Email != null)
                {
                    Navigation.NavigateTo($"/resetPassword/{CreatedUser.Email}/{""}");
                }
            }
                else
                await ShowAlert("Wrong Captcha");
        }
        catch (Exception ex)
        {
            // Handle login failure (e.g., show an error message)
        }
    }

    protected override async Task OnInitializedAsync()
    {

    }


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {

    }
}
