@page "/"
@inherits Login


<PageTitle>Index</PageTitle>

    <h1>Welcome to AYMdating</h1>
    <p>Your Gateway to Love and Marriage Worldwide!</p>

    <p>
        Are you ready to find your soulmate? Whether you're looking for love or a lifelong partner, AYMdating connects you with like-minded individuals from all over the world. Join our community today and start your journey toward finding that special someone!
    </p>

    <h3>Why Choose AYMdating?</h3>
    <ul style="list-style-type:none">
    <li><strong>Global Connections:</strong> Meet people from different cultures and backgrounds.</li>
        <li><strong>Personalized Matches:</strong> Our advanced algorithms help you find the perfect match.</li>
        <li><strong>Safe & Secure:</strong> Your privacy is our top priority.</li>
        <li><strong>Exclusive Features:</strong> Enjoy premium features with our subscription plans.</li>
    </ul>

    <p>
        Unlock the full potential of AYMdating with our affordable subscription plans. Whether you're looking for love or a meaningful relationship, our platform offers everything you need to connect with your ideal partner. Choose the package that suits you and start making meaningful connections today!
    </p>

    <p>Take the First Step Toward Your Happily Ever After!
    <img src="css/Images/Default/online_dating_apps-4258776969.jpg" class="img-fluid" />
    </p>

<div class="text-center mb-2">
</div>


@code {


    protected override async Task OnInitializedAsync()
    {

    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        // if (firstRender)
        // {
        //     await IfUserOnline();
        // }
        // await IfUserOnline();

        // StateHasChanged();
    }
}